rogi/workflows/daily_digest.json
{
  "name": "ROGI Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://rogi-backend:8000/api/digest/generate",
        "method": "POST",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "send_telegram",
              "value": "true"
            }
          ]
        }
      },
      "name": "Generate Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "generating"
            }
          ]
        }
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Generate Digest", "type": "main", "index": 0}]]
    },
    "Generate Digest": {
      "main": [[{"node": "Check Status", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "tags": ["rogi", "digest"],
  "meta": {
    "description": "Generates and sends the ROGI daily morning digest via Telegram every day at 07:00"
  }
}
